body {
    font-family: "Sora", sans-serif;
    background: #F4F4F4;
    padding-left: 10px;
    padding-right: 10px;
}

#main-container {
    margin-top: 20px;
    margin-bottom: 30px;
    min-width: 400px;
    background: #FFFFFF;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

input {
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background: #DEDEE9;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#btn-container {
    width: 100%;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    background: #216FF4;
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    font-family: "Sora", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.03);
}

ul {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
}

li {
    display: flex;
    background: #FFFFFF;
    padding: 15px ;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

li a {
    width: 100%;
    margin-left: 15px;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 17px;
    color: black;
    background: #E9E9E9;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

li a:hover {
    transition: 0.3s;
    transform: scale(1.03);
}

